@import "tailwindcss";

@layer base {
  :root {
    --auth-bg: var(--color-bunker-950);
    --auth-bg2: #191c22;
    --auth-bg3: #1f232b;
    --auth-line: #272b34;
    --auth-line2: #303540;
    --auth-fg: var(--color-bunker-100);
    --auth-fg2: var(--color-bunker-400);
    --auth-fg3: var(--color-bunker-600);
    --auth-fg4: var(--color-bunker-700);
    --auth-accent: var(--color-granny-smith-apple-300);
    --auth-accent2: var(--color-granny-smith-apple-600);
    --auth-accent3: #1e3d2a;
    --auth-blue: var(--color-jordy-blue-400);
    --auth-red: #e87a7a;
    --auth-red2: #4a2020;
  }
}

@theme {
  --font-syne: "Syne", sans-serif;
  --font-dm-mono: "DM Mono", monospace;

  --color-bunker-50: #f6f7f9;
  --color-bunker-100: #eceef2;
  --color-bunker-200: #d4d9e3;
  --color-bunker-300: #afb9ca;
  --color-bunker-400: #8493ac;
  --color-bunker-500: #647693;
  --color-bunker-600: #505e79;
  --color-bunker-700: #414c63;
  --color-bunker-800: #394253;
  --color-bunker-900: #333947;
  /* bunker-950 is main dark blue */
  --color-bunker-950: #111318;

  --color-granny-smith-apple-50: #f1fcf4;
  --color-granny-smith-apple-100: #ddfbe7;
  --color-granny-smith-apple-200: #bef4d0;
  /* granny-smith-apple-300 is primary green */
  --color-granny-smith-apple-300: #7ee8a2;
  --color-granny-smith-apple-400: #51d77f;
  --color-granny-smith-apple-500: #29be5d;
  --color-granny-smith-apple-600: #1c9d49;
  --color-granny-smith-apple-700: #1a7b3c;
  --color-granny-smith-apple-800: #1a6133;
  --color-granny-smith-apple-900: #17502c;
  --color-granny-smith-apple-950: #072c16;

  --color-jordy-blue-50: #f0f7fe;
  --color-jordy-blue-100: #dcedfd;
  --color-jordy-blue-200: #c1e0fc;
  --color-jordy-blue-300: #97cdf9;
  /* jordy-blue-400 is main blue */
  --color-jordy-blue-400: #6ab4f5;
  --color-jordy-blue-500: #4192f0;
  --color-jordy-blue-600: #2c75e4;
  --color-jordy-blue-700: #2360d2;
  --color-jordy-blue-800: #234eaa;
  --color-jordy-blue-900: #224486;
  --color-jordy-blue-950: #192b52;
}
