<div id="date_separator_<%= local_date(date).iso8601 %>" class="flex items-center gap-3 py-3">
  <div class="flex-1 border-t border-bunker-825"></div>
  <span class="text-xs text-bunker-600 font-dm-mono"><%= format_timestamp(date, style: :date_separator) %></span>
  <div class="flex-1 border-t border-bunker-825"></div>
</div>
