<% if flash[:alert] %>
  <div class="flex items-center gap-2 rounded px-3 py-2 mb-4 text-xs bg-danger-800 border border-danger-400 text-danger-400">
    <span>// <%= flash[:alert] %></span>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="flex items-center gap-2 rounded px-3 py-2 mb-4 text-xs bg-granny-smith-apple-925 border border-granny-smith-apple-600 text-granny-smith-apple-300">
    <span>// <%= flash[:notice] %></span>
  </div>
<% end %>
