<div class="flex-1 flex flex-col min-h-0">
  <%# Header %>
  <div class="px-4 lg:px-6 py-4 border-b border-bunker-825 flex items-center gap-3">
    <%= link_to servers_path, class: "text-[10px] text-granny-smith-apple-600 no-underline" do %>
      &larr; back
    <% end %>
    <div>
      <h1 class="font-syne text-[17px] lg:text-[20px] font-bold text-bunker-050 tracking-tight">user settings</h1>
      <div class="text-[8px] tracking-[0.16em] mt-1 text-bunker-500">
        <span class="text-granny-smith-apple-600">//</span> <%= Current.user.username %>
      </div>
    </div>
  </div>

  <%# Tabs + panel %>
  <div class="flex-1 flex flex-col min-h-0">
    <%= render "settings/tabs_and_panel",
      tab: @tab,
      panel_partial: @panel_partial,
      panel_locals: @panel_locals %>
  </div>
</div>
