<div id="thread_connector_<%= parent_message.id %>" class="px-4 lg:px-7 flex items-center gap-3 my-2 flex-shrink-0">
  <div class="w-0.5 h-[22px] bg-bunker-825 ml-7 flex-shrink-0"></div>
  <div class="text-[9px] text-bunker-600 tracking-[0.1em]">
    <span class="text-bunker-400"><%= parent_message.replies_count %></span> <%= "reply".pluralize(parent_message.replies_count) %>
  </div>
  <div class="flex-1 h-px bg-bunker-825"></div>
</div>
